:root{
  --background-color: #e6e8f4;
  --blue-color: rgb(43, 135, 209);
  --green-color: rgb(75, 219, 106);
  --red-color: rgb(206, 38, 54);
  --link-blue: rgb(69, 177, 255);
  --hover-color:rgb(242, 242, 242);

  background-color:var(--background-color);
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
}
body{
  margin:0;
}
nav{
  z-index: 1;
  height:2.6666rem;
  background-color: white;
  position:fixed;
  width:100%;
  display: flex;
  top:0;
  justify-content: space-around;
  align-items: center;
}
nav .nav--group{
  display:flex;
  flex-flow: row nowrap;
}
nav .nav--group svg{
  color:lightgray;
  margin-right:.25rem;
}
nav .nav--group div{
  line-height: 300%;
  height:2.6666rem;
  padding:0 1rem;
}
nav .nav--group div:hover{
  background-color: var(--hover-color);
  cursor:pointer;
}
#stats{
  display:flex;
  flex-flow:row nowrap;
  justify-content:center;
  gap:1.5%;
  width:fit-content;
  margin: 2rem auto 2rem auto;
}
article{
  background-color:white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
  border-radius: .3125rem;
  padding: 2rem;
  width:30%;
  line-height: 1.7;
}
article img{
  width:100%;
}
article p {
  font-weight: 400;
}
article h5{
  font-weight: normal;
  margin:0;
  font-size:1.5rem;
  
}
img{
  pointer-events: none;
  user-select: none;
}
article a{
  color:var(--link-blue);
  text-decoration: none;
}
#maingame{
  user-select: none;
  height:540px;
  background-color: var(--blue-color);
  margin-top:2.6666rem;
  position: relative;

  font-size:4.5rem;
  display:flex;
  flex-flow:column nowrap;
  justify-content:center;
  align-items: center;
  color:white;
}
#maingame svg{
  font-size:6rem;
}
#maingame span{
  font-size:1.25rem;
}
#maingame:hover{
  cursor:pointer;
}
@media (width < 700px){
  article+article{
    display:none;
  }
  :root{
    background-color: white;
  }
  #stats{
    width:100%;
  }
  article{
    text-align: center;
    width:100%;
    box-shadow: none;
    height:1000px;
  }
}
#maingame.color-0, #minigame.color-4, #maingame.color-3{
  background-color: var(--blue-color);
}
#maingame.color-1{
  background-color: var(--green-color);
}
#maingame.color-2{
  background-color: var(--red-color);
}
.pulse-faint{
  animation: pulse 2.5s infinite;
}

@keyframes pulse {
  0%{
    color: white;
  }
  50%{
    color: rgba(255, 255, 255, 0.5);
  }
  100%{
    color: white;
  }
}
video:fullscreen {
  cursor: none;
}
video::-webkit-media-controls-panel,
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

video::-webkit-media-controls-enclosure {
  display: none !important;
}

video:fullscreen:hover {
  cursor: none;
}

video{
  width:0;
  height:0;
  position:absolute;
  left:-100px;
  user-select: none;
  pointer-events: none;
}